In [1]:
import pandas as pd
import numpy as np

### Importing Data

In [2]:
nfl_data = pd.read_csv("NFL Play by Play 2009-2017 (v4).csv")

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
sf_permits = pd.read_csv("Building_Permits.csv")

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Take a look at some of it

In [4]:
nfl_data.sample(5)

,﻿Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
129567,2011-12-24,2011122407,15,3,NaN,03:24,4,1104.0,0.0,CAR,...,NaN,0.988423,0.011577,0.987661,0.012339,0.011577,0.000762,NaN,NaN,2011
219174,2013-12-15,2013121507,14,3,2.0,09:33,10,1473.0,39.0,NO,...,NaN,0.989411,0.010589,0.989051,0.010949,0.989411,-0.000360,NaN,NaN,2013
139827,2012-09-16,2012091613,18,4,1.0,07:30,8,450.0,21.0,SF,...,NaN,0.856497,0.143503,0.837031,0.162969,0.856497,-0.019465,NaN,NaN,2012
350762,2016-12-04,2016120411,15,3,2.0,00:18,1,918.0,38.0,SD,...,0.536634,0.592124,0.407876,0.606465,0.393535,0.407876,-0.014341,-0.033516,0.019175,2016
315047,2016-01-03,2016010305,23,4,1.0,08:27,9,507.0,13.0,MID,...,NaN,0.684974,0.315026,0.666784,0.333216,0.684974,-0.018190,NaN,NaN,2015

In [5]:
sf_permits.sample(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
18218,M407108,8,otc alterations permit,07/11/2013,0632,002B,2119,NaN,Pierce,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Pacific Heights,94115.0,"(37.78970506697463, -122.43764754680012)",131068577010
109138,201512165242,3,additions alterations or repairs,12/16/2015,3620,059,3639,NaN,21st,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94114.0,"(37.7561892697541, -122.4288459525987)",1406733162615
138080,M725669,8,otc alterations permit,09/27/2016,7069,025,279,NaN,Montana,St,...,NaN,NaN,NaN,NaN,NaN,11.0,Oceanview/Merced/Ingleside,94112.0,"(37.71633523807639, -122.46190500813354)",1438988220196
27274,M433467,8,otc alterations permit,10/08/2013,3619,002,808,NaN,Dolores,St,...,NaN,NaN,NaN,NaN,NaN,8.0,Noe Valley,94114.0,"(37.756410801693846, -122.42596544031176)",1320180431992
171670,201503160961,8,otc alterations permit,03/16/2015,4002,013,1304,NaN,18th,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,10.0,Potrero Hill,94107.0,"(37.76279700538888, -122.39580055412283)",1374440168526

### There are missing values such as None or NaN How many are there for each column?

In [6]:
missingVal_cnt = nfl_data.isnull().sum()

In [8]:
# the number of missing values from frst 20 columns
missingVal_cnt[0:20]

﻿Date                0
GameID               0
Drive                0
qtr                  0
down             61154
time               224
TimeUnder            0
TimeSecs           224
PlayTimeDiff       444
SideofField        528
yrdln              840
yrdline100         840
ydstogo              0
ydsnet               0
GoalToGo           840
FirstDown        28811
posteam          24992
DefensiveTeam    24992
desc                 2
PlayAttempted        0
dtype: int64

In [23]:
# 25% of total NFL data point is null value

# nfl_data.shape returns (number of rows, number of columns)
# np.product(nfl_data.shape) returns number_rows*number_columns, which is the total_cells
totalCells = np.product(nfl_data.shape) 
totalMissing = missingVal_cnt.sum()

(float(totalMissing)/float(totalCells))*100

24.87214126835169

In [28]:
nfl_data.shape[1] # num of rows

102

In [29]:
nfl_data.shape[0] # num of col

407688

In [24]:
def missingValProportion(data):
    totalNullCnt = data.isnull().sum().sum()
    totalCellCnt = np.product(data.shape)
    
    proportion = (float(totalNullCnt)/float(totalCellCnt))*100
    
    return proportion

In [25]:
# 26% of total SF data point is null value
missingValProportion(sf_permits)

26.26002315058403

### Why Those Values Are Missing?
- doesn't exsit? 
    - i.e. value of current car when I don't have one
    - PenalizedTeam: possible not to have penalty
- wasn't recorded? --> can try to guess what it might be based on other values __"imputation"__
    - TimeSecs: number of sec left in the game when the play was made
    
Dataset Documentation: https://www.kaggle.com/maxhorowitz/nflplaybyplay2009to2016

### Drop Missing Values
- Remove any rows or columns that contain missing values
- Quick and dirty way - might lose meaningful data

In [26]:
# using pandas to remove all ROWS that contain a missing value
nfl_data.dropna()

# … and we removed everything LOL

Empty DataFrame
Columns: [﻿Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [27]:
# using pandas to remove all COLUMNS with at least one missing value
nullDroppedCol = nfl_data.dropna(axis = 1)
nullDroppedCol.head()

,﻿Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

### After Doing This How Many Columns Did We Lose?

In [31]:
print "original num of col:", nfl_data.shape[1]
print "num of col after dropping null:", nullDroppedCol.shape[1]

original num of col: 102
num of col after dropping null: 41

__Repeating same thing for sf_permit dataset__

In [32]:
# remove all ROWS that contains null
sf_permits.dropna()

# … and we removed everything again LOL

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

In [33]:
# remove all COLUMNS that contains null
nullDroppedCol_sf = sf_permits.dropna(axis = 1)
nullDroppedCol_sf.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Current Status,Current Status Date,Filed Date,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,Ellis,expired,12/21/2017,05/06/2015,1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,Geary,issued,08/03/2017,04/19/2016,1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,Pacific,withdrawn,09/26/2017,05/27/2016,1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,Pacific,complete,07/24/2017,11/07/2016,1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,Market,issued,12/01/2017,11/28/2016,144548169992

In [34]:
print "original num of col:", sf_permits.shape[1]
print "num of col after dropping null:", nullDroppedCol_sf.shape[1]

original num of col: 43
num of col after dropping null: 12

### Filling In Missing Values Automatically Instead of Deleting all The Columns "IMPUTATION"

In [37]:
# get a small subset (only several columns) of dataset to print conveniently 
nflSubset = nfl_data.loc[:,'EPA':'Season'].head()
nflSubset

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [38]:
# replace all NaN with 0

nflSubset.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [39]:
# replace NaN with a value that comes directly after in the same col
# then replace all other null with 0
# useful when datasets have some sort of order to them

nflSubset.fillna(method = 'bfill', axis=0).fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

__Do same thing for sf_permit dataset__

In [41]:
# subset the data
sfSubset = sf_permits.loc[:, 'Existing Construction Type':'Site Permit'].head()
sfSubset

,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit
0,3.0,constr type 3,NaN,NaN,NaN
1,3.0,constr type 3,NaN,NaN,NaN
2,1.0,constr type 1,1.0,constr type 1,NaN
3,5.0,wood frame (5),5.0,wood frame (5),NaN
4,3.0,constr type 3,NaN,NaN,NaN

In [42]:
sfSubset.fillna('null')

,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit
0,3.0,constr type 3,null,null,null
1,3.0,constr type 3,null,null,null
2,1.0,constr type 1,1,constr type 1,null
3,5.0,wood frame (5),5,wood frame (5),null
4,3.0,constr type 3,null,null,null

In [43]:
sfSubset.fillna(method = 'bfill', axis=0).fillna('null')

,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit
0,3.0,constr type 3,1,constr type 1,null
1,3.0,constr type 3,1,constr type 1,null
2,1.0,constr type 1,1,constr type 1,null
3,5.0,wood frame (5),5,wood frame (5),null
4,3.0,constr type 3,null,null,null

end of document